.search-contarner{
    width: 100%;
    border-radius: 15px;
    background-color: white;
    height: 80px;
    display: flex;
    .icon{
        height: 2rem;
        margin: auto;
        margin-left: 1rem;
        padding-top: 5px;
        opacity: 0.4;
    }
    .inner-container{
        display: grid;
        grid-template-areas: "searchbox";
        grid-template-rows: 80px;
        grid-template-columns: repeat(auto-fit, auto);
        margin-right: 100px;
        padding:0;
        overflow: hidden;
        width: inherit;
    
        .search-box,.shadow-content{
            grid-area: searchbox;
            padding: 20px;
            font-size: 40px;
            background-color: transparent;
            width: auto;
            max-height: 80px;
            white-space: nowrap;
            cursor:text
        }
        .shadow-content{
            color: gray;
            
        }
        .search-box:focus{
          outline: none;
        }
    }
}
  
  

 
  