<div class="card" (keydown)="onKeyDown($event)">
  <app-search-box (termChange)="termChange.next($event)" [term]="term" [hint]="hint" [title]="searchTitle" ></app-search-box>
  <div class="result-preview collapsed" [ngClass]="{'collapsed' : !expand }">
    <app-results-box class="results" [results]="results" [selected]="arrowkeyLocation" ></app-results-box>
    <app-preview-box class="preview" 
    [content]="results[arrowkeyLocation]?.preview?.content"
    [type]="results[arrowkeyLocation]?.preview?.type"
    ></app-preview-box>
  </div>
</div>