.container{
    overflow-y: auto;
}
.htmlContent{
    vertical-align: middle;
    width: 100%;
    height: auto;
    margin: auto;
    margin: 0 auto;
    text-align: center;
    height: fit-content;
}